<% unless comment.archived? %>
<p>
<strong>Commenter:</strong>
<%= comment.commenter%>
</p>
<p>
<strong>Content:</strong>
<%= comment.body%>
</p>

<p>
<%= link_to "Destroy Comment", [comment.article, comment], 
  data:{
    turbor_method: :delete,
    turbor_confirm: "Are you sure?"
  }%>
</p>
<% end%>
